<div class="field" #field>
    <label [htmlFor]="name">{{ label }}</label>
    <input
        [id]="name"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        #ngModel="ngModel"
        [class.ng-dirty]="ngModel.dirty || isForceDirty"
        [class.ng-invalid]="ngModel.invalid || isForceInvalid"
        pInputText
        type="text"
        [maxlength]="maxlength"
    />
    <small
        *ngIf="(ngModel.invalid || isForceInvalid) && invalidMessage !== ''"
        class="p-error"
    >
        {{ invalidMessage }}
    </small>
</div>
