<and-gird>
    <and-col>
        <and-card title="Sample Form" *ngIf="sampleForm !== undefined">
            <and-field-text
                name="text"
                label="文字列"
                [(value)]="sampleForm.fieldText"
                [maxlength]="50"
            ></and-field-text>
            <and-field-number
                name="number"
                label="数値"
                [(value)]="sampleForm.fieldNumber"
            ></and-field-number>
            <and-button label="登録" (click)="onSubmit()"></and-button>
        </and-card>
    </and-col>
</and-gird>
