<div class="field">
    <label [htmlFor]="name">{{ label }}</label>
    <p-inputNumber
        [id]="name"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        #ngModel="ngModel"
        [class.ng-dirty]="ngModel.dirty || isForceDirty"
        [class.ng-invalid]="ngModel.invalid || isForceInvalid"
        [min]="min"
        [max]="max"
    ></p-inputNumber>
    <small
        *ngIf="(ngModel.invalid || isForceInvalid) && invalidMessage !== ''"
        class="p-error"
    >
        {{ invalidMessage }}
    </small>
</div>
